In [1]:
import pga_stats_scraper as pga
import pandas as pd
import numpy as np

In [2]:
df = pd.concat([pga.df2015, pga.df2016, pga.df2017, pga.df2018, pga.df2019])

In [3]:
df

,index,scoring_avg,driving_dist,driving_acc,gir_fairway,gir_other,sg_tee_to_green,sg_total,sg_putting,scrambling,3_putt_avoid,putts_per_round,prox_to_hole,bogey_avoidance,earnings
0,Jordan Spieth,68.938,291.8,62.91,80.26,50.11,1.583,2.154,.571,65.03,2.40,27.82,"33' 8""",13.13,"$12,030,465"
1,Jason Day,69.161,313.7,55.94,79.12,60.58,1.520,2.106,.586,65.34,2.39,28.44,"36' 3""",12.11,"$9,403,330"
2,Bubba Watson,69.296,315.2,56.55,79.81,55.53,1.876,2.088,.212,61.89,3.35,28.96,"36' 0""",14.54,"$6,876,797"
3,Rickie Fowler,70.230,296.8,62.08,76.53,48.73,.779,1.088,.309,61.10,2.47,28.44,"35' 1""",15.05,"$5,773,430"
4,Dustin Johnson,69.585,317.7,55.53,78.65,56.44,1.326,1.455,.128,57.85,2.08,28.47,"34' 6""",15.51,"$5,509,467"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Heath Slocum,"$6,685",None,None,None,None,None,None,None,None,None,None,None,None,None
261,Will MacKenzie,"$6,510",None,None,None,None,None,None,None,None,None,None,None,None,None
262,Ken Duke,"$6,450",None,None,None,None,None,None,None,None,None,None,None,None,None
263,Jason Bohn,"$5,970",None,None,None,None,None,None,None,None,None,None,None,None,None
264,Jonathan Kaye,"$5,910",None,None,None,None,None,None,None,None,None,None,None,None,None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1285 entries, 0 to 264
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            1285 non-null   object
 1   scoring_avg      1285 non-null   object
 2   driving_dist     937 non-null    object
 3   driving_acc      937 non-null    object
 4   gir_fairway      937 non-null    object
 5   gir_other        937 non-null    object
 6   sg_tee_to_green  937 non-null    object
 7   sg_total         937 non-null    object
 8   sg_putting       937 non-null    object
 9   scrambling       937 non-null    object
 10  3_putt_avoid     937 non-null    object
 11  putts_per_round  937 non-null    object
 12  prox_to_hole     937 non-null    object
 13  bogey_avoidance  937 non-null    object
 14  earnings         747 non-null    object
dtypes: object(15)
memory usage: 160.6+ KB

In [5]:
df.dropna(axis=0, inplace=True)

In [6]:
df.rename(columns = {'index':'player'}, inplace = True)

In [7]:
df.head()

,player,scoring_avg,driving_dist,driving_acc,gir_fairway,gir_other,sg_tee_to_green,sg_total,sg_putting,scrambling,3_putt_avoid,putts_per_round,prox_to_hole,bogey_avoidance,earnings
0,Jordan Spieth,68.938,291.8,62.91,80.26,50.11,1.583,2.154,.571,65.03,2.40,27.82,"33' 8""",13.13,"$12,030,465"
1,Jason Day,69.161,313.7,55.94,79.12,60.58,1.520,2.106,.586,65.34,2.39,28.44,"36' 3""",12.11,"$9,403,330"
2,Bubba Watson,69.296,315.2,56.55,79.81,55.53,1.876,2.088,.212,61.89,3.35,28.96,"36' 0""",14.54,"$6,876,797"
3,Rickie Fowler,70.230,296.8,62.08,76.53,48.73,.779,1.088,.309,61.10,2.47,28.44,"35' 1""",15.05,"$5,773,430"
4,Dustin Johnson,69.585,317.7,55.53,78.65,56.44,1.326,1.455,.128,57.85,2.08,28.47,"34' 6""",15.51,"$5,509,467"

In [8]:
df = df.astype({'scoring_avg': 'float',
           'driving_dist': 'float',
           'driving_acc': 'float',
           'gir_fairway': 'float',
           'gir_other': 'float',
           'sg_tee_to_green': 'float',
           'sg_total': 'float',
           'sg_putting': 'float',
           'scrambling': 'float',
           '3_putt_avoid': 'float',
           'putts_per_round': 'float',
           'bogey_avoidance': 'float'})

In [9]:
df['earnings'] = df['earnings'].str.replace('$', '')
df['earnings'] = df['earnings'].str.replace(',', '')
df['earnings'] = df['earnings'].astype(int)

In [10]:
df.head()

,player,scoring_avg,driving_dist,driving_acc,gir_fairway,gir_other,sg_tee_to_green,sg_total,sg_putting,scrambling,3_putt_avoid,putts_per_round,prox_to_hole,bogey_avoidance,earnings
0,Jordan Spieth,68.938,291.8,62.91,80.26,50.11,1.583,2.154,0.571,65.03,2.40,27.82,"33' 8""",13.13,12030465
1,Jason Day,69.161,313.7,55.94,79.12,60.58,1.520,2.106,0.586,65.34,2.39,28.44,"36' 3""",12.11,9403330
2,Bubba Watson,69.296,315.2,56.55,79.81,55.53,1.876,2.088,0.212,61.89,3.35,28.96,"36' 0""",14.54,6876797
3,Rickie Fowler,70.230,296.8,62.08,76.53,48.73,0.779,1.088,0.309,61.10,2.47,28.44,"35' 1""",15.05,5773430
4,Dustin Johnson,69.585,317.7,55.53,78.65,56.44,1.326,1.455,0.128,57.85,2.08,28.47,"34' 6""",15.51,5509467

In [11]:
def parse_ht(ht):
    # format: 7' 2"
    ht = ht.split("' ")
    ft = float(ht[0])
    inches = float(ht[1].replace("\"",""))
    return (12 * ft) + inches

df['prox_to_hole'] = df["prox_to_hole"].apply(lambda x: parse_ht(x))

In [12]:
df.head()

,player,scoring_avg,driving_dist,driving_acc,gir_fairway,gir_other,sg_tee_to_green,sg_total,sg_putting,scrambling,3_putt_avoid,putts_per_round,prox_to_hole,bogey_avoidance,earnings
0,Jordan Spieth,68.938,291.8,62.91,80.26,50.11,1.583,2.154,0.571,65.03,2.40,27.82,404.0,13.13,12030465
1,Jason Day,69.161,313.7,55.94,79.12,60.58,1.520,2.106,0.586,65.34,2.39,28.44,435.0,12.11,9403330
2,Bubba Watson,69.296,315.2,56.55,79.81,55.53,1.876,2.088,0.212,61.89,3.35,28.96,432.0,14.54,6876797
3,Rickie Fowler,70.230,296.8,62.08,76.53,48.73,0.779,1.088,0.309,61.10,2.47,28.44,421.0,15.05,5773430
4,Dustin Johnson,69.585,317.7,55.53,78.65,56.44,1.326,1.455,0.128,57.85,2.08,28.47,414.0,15.51,5509467

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747 entries, 0 to 217
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player           747 non-null    object
 1   scoring_avg      747 non-null    float64
 2   driving_dist     747 non-null    float64
 3   driving_acc      747 non-null    float64
 4   gir_fairway      747 non-null    float64
 5   gir_other        747 non-null    float64
 6   sg_tee_to_green  747 non-null    float64
 7   sg_total         747 non-null    float64
 8   sg_putting       747 non-null    float64
 9   scrambling       747 non-null    float64
 10  3_putt_avoid     747 non-null    float64
 11  putts_per_round  747 non-null    float64
 12  prox_to_hole     747 non-null    float64
 13  bogey_avoidance  747 non-null    float64
 14  earnings         747 non-null    int64
dtypes: float64(13), int64(1), object(1)
memory usage: 93.4+ KB

In [14]:
df.to_pickle('pga_stats_final.pkl')